.description{
    grid-column: 2/12;
    grid-row: auto;
    background-color: bisque;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 1fr auto 1fr;
    // padding-top: 3rem;
    // padding-bottom: 3rem;
    margin-bottom: 3rem;
    position: relative;
    &__container{
            grid-column: 3/11;
            grid-row: auto;
            height: auto;
            text-align: center;
            // padding: 10rem;
            position: relative;
    }
    &__heading{
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
        align-self:center;
        
    }
    &__title{
            font-family: "Lavishly Yours",sans-serif;
            font-size: 3rem;
            font-weight: 400;
            font-style: normal;
            margin-top: 3rem;
            margin-bottom: 3rem;
    }
    &__details{
        font-size: 1.4rem;
        line-height: 1.8;
        letter-spacing: .3rem;
        font-weight: 400;
        font-style: normal;
    }
    &__arrow{
        grid-row: 3/4;
        grid-column: 1/-1;
        justify-self: center;
        align-self:center;
    }
} 

